<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% stylesheets '%kernel.root_dir%/Resources/public/less/style.less' filter='lessphp,cssrewrite' %} 
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}
    {% endblock %}
    {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> #}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ path('_welcome') }}" class="navbar-brand">{% block brandname %}Jaccob{% endblock %}</a>
        </div>
        {{ knp_menu_render('main',
          {
            'template': '::menu/mainMenu.html.twig',
            'currentClass': 'active',
            'ancestorClass': 'active',
            'depth': 1
          })
        }}
      </div>
    </nav>
    {% if app.session.flashbag.peekAll %}
      <div class="container">
        <div class="row">
          {% for type, messages in app.session.flashbag.all %}
            <div class="alert alert-{{ type }}" role="alert">
              {{ messages|join(', ')|raw }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    </div>
    {% block body %}{% endblock %}
    {% block javascripts %}
      {# <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script> #}
      {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.min.js"></script>
  </body>
</html>